/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the whole page */
html, body {
  height: 100%;
  background-color: #fff0f5; /* Light background */
  color: #ddb697;             /* Dark text for contrast */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: #d75d00;
}

/* Header styling */
.header {
  background-color:#fff0f5; ;
  padding: 20px 40px;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  margin-left: 40px;
  height: 100px;
  background-color: transparent;
}

/* Action links container */
.action {
  display: flex;
  gap: 50px;
}

/* Action links (Home, About, Services) */
.actionbar {
  text-decoration: none;
  color:#d63384; /* Orange-ish text */
  font-size: 20px;

  transition: color 0.3s, border-bottom 0.3s;
}

.actionbar:hover {
  color: #d63384;
  border-bottom: 2px solid #d63384;
}

/* Login link */
/* .login a {
  margin-right: 40px;
  text-decoration: none;
  color: #c2791f;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid #c57d19;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.login a:hover {
  background-color: #9f5a05;
  color: #ffffff;
  
} */
 .login img{
  height: 40px;
  margin-right: 30px;
 }
.banner {
  display: flex;
  justify-content: center;
}
.banner img{
  width: 70%;
}
.button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button a{
  width: 120px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #d63384;
  border: 2px solid #d63384;
}
.button a:hover{
  background-color: #d63384;
  color: white;

}
